.app-header {
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 10px;
}
.app-body {
  position: relative;
}
.app-nav {
  position: absolute;
  right: 300px;
  top: 20px;
}

.ReviewList {
  padding-top: 20px;
}
