.ReviewForm {
  width: 50%;
  display: flex;
  padding: 30px;
  align-items: center;
  height: 300px;
  margin: 30px auto;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 50px;
}

.ReviewForm-fileInput {
  flex: none;
  margin-right: 22px;
}

.ReviewForm-items {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow: hidden;
}

.inputbox {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.inputbox .ReviewForm-title {
  flex: 1 1;
  margin-right: 22px;
}

.ReviewForm-items .ReviewForm-content {
  height: 127px;
  margin-bottom: 16px;
  resize: none;
}
